<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Angularjs</title>
</head>
<body ng-app="app-form">
    <div ng-controller="formController">
        <!-- Du lieu lien quan den form se duoc $scope cua formController quan ly -->
        <!-- <form action="">
            <input placeholder="Ten" ng-model="ten">
            <input
                placeholder="Tuổi"
                type="number"
                ng-keyup="onChangeAge($event)"
            >
            <button
                 type="button"
                ng-click="onSubmitForm()"
             >Tao moi</button>
             <h1>{{inputValue.ten}}</h1>
             <h1>{{tuoi}}</h1>
        </form> -->

        <form action="">
            <input placeholder="Tên" ng-model="inputValue.ten">
            <input
                placeholder="Tuổi"
                type="number"
                ng-keyup="onChangeAge($event)"
            >
            <button
                type="button"
                 ng-disabled="!inputValue.ten || !inputValue.tuoi"
                ng-click="onSubmitForm()"
            >Tạo mới</button>
        </form>
        <h1>{{inputValue.ten}}</h1>
        <h1>{{tuoi}}</h1>
    </div>

    <script src="./lib2/angular.min.js"></script>
    <script>
        var app=angular.module('app-form',[])
        app.controller('formController',function($scope){
            // $scope.ten='';
            // $scope.tuoi=0;
            $scope.onSubmitForm= function() {
                // console.log($scope.ten,$scope.tuoi);
                // Khi submit se kiem tra gia tri 
                // Neu ten ko cos thi $scope.kiemTraDuLieu.ten=true;
                // Hien thi ND thong bao

            }
            $scope.onChangeAge = function (event) {
                $scope.tuoi = event.target.value;
            }
            //Kieu viet quan ly du lieu theo obj
            $scope.inputValue={
                ten:'',
                tuoi:0
            };

              //yeu cau :ko dung ng-disabled ,de cho bam
        //neu chua nhau gi thi hien thi loi bap nhap du lieu
        $scope.kiemTraDuLieu={
            ten:false,
            tuoi:false
        }
        })

      
    </script>
</body>
</html>